#projectsSec {
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #20232A;
}

.projCardContent {
    margin: 5px 3% 5px 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projectsTitle {
    font-size: 3rem;
    font-weight: 600;
    margin: 8rem 0 1.5rem 0;
    color: #61DAFB;
}

.projCards {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0px 10px 20px 5px;
}

.projCard {
    background-color: rgb(40, 44, 52);
    display: flex;
    align-items: center;
    margin: 1.5rem;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px #61DAFB);
    min-width: 80%;
}

.projDescSec {
    margin: 2rem;
}

.projTitle {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

.projUi {
    max-width: 600px;
    height: fit-content;
    filter: drop-shadow(0px 0px 5px #61DAFB);
    margin: 40px 0px 40px 40px;
}

.projSkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
}

.projCardContent, .projContent, .projSkills, .projLinks, .projTitle, .projDescription {
    max-width: 800px;
}

.projLinks {
    margin: 30px 0px 10px 0px;
}

.linkTo {
    color: #61DAFB;
}

b {
    color: #61DAFB;
}

.projDescription {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1152px) {

    .projCard {
      max-width: 95vw;
      flex-direction: column;
      align-items: center;
    }

    .projCardContent {  
        flex-direction: column;
        align-items: center;
    }
    
    .expDescSection {
        max-width: 100px;
    }
    .projUi {
        width: 90%;
        margin: 40px 0px 0px 0px;
    }

    .techStackIconProj {
        height: 1.2 rem;
        margin: 10px 5px 5px 5px;
    }
}

@media only screen and (max-width: 840px),
screen and (max-height: 900px) {
    .projectsTitle {
        font-size: 2rem;
    }

    .projDescSec {
        margin: 1rem;
    }

    .projTitle {
        font-size: 1.5rem;
    }

    .projDescription, .projContent, .projLinks {
        font-size: 1rem;
    }

    .techStackIconProj {
        height: 1.5rem;
        margin: 10px 10px 5px 10px;
    }
}

@media only screen and (max-width: 450px),
screen and (max-height: 650px) {
    .projTitle {
        font-size: 1.2rem;
        max-width: fit-content;
    }

    .projDescription, .projContent, .projLinks {
        font-size: 0.9rem;
    }

    .skillsIntro {
        display: none;
    }

    .techStackIconProj {
        height: 1.2rem;
    }

}

@media only screen and (max-width: 340px) {
    .projSkills {
        display: none;
    }

}