#aboutSection {
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #20232A;
}

.aboutMe {
    margin: 0 10%;
}

.aboutMeTitle {
    font-size: 3rem;
    font-weight: 600;
    margin: 5rem 0 1rem 0;
    color: #61DAFB;
}

.aboutMeDesc {
    font-weight: 300;
    font-size: 1.4rem;
}


.techStacks {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #20232A;
    border-radius: 20px;
    margin: 5% 10% 10% 10%;
}

.techStackIntro {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 10px;
}



.techStackIcon {
    height: 3rem;
    margin: 10px 20px;
}

.techStackIcon:hover {
    filter: drop-shadow(0px 0px 10px #20232A);
}

@media only screen and (max-width: 840px),
screen and (max-height: 900px) {

    .aboutMeTitle {
        font-size: 2rem;
    }

    .aboutMeDesc {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .techStackIcon {
        height: 1.5rem;
        margin: 5px 10px;
    }

    .techStackIntro {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 450px),
screen and (max-height: 650px) {
    .aboutMeTitle {
        font-size: 1.8rem;
    }

    .aboutMeDesc {
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .techStackIcon {
        height: 1.4rem;
        margin: 5px 10px;
    }

    .techStackIntro {
        font-size: 0.9rem;
    }
}