#homepage {
    min-height: 100vh;
    width: 100vw;

    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.homepageContent {
    margin: 4rem 0 2rem 0;
    min-height: 100vh;
    width: 100vw;
    padding-left: 2rem;
    padding-right: 1rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.helloIntro {
    font-size: 1.75rem;
    font-weight: 300;
}

.name,
.introContentJob {
    color: #61DAFB;
}

.introContentJob {
    font-weight: 600;
}

.homeIntroContent {
    font-size: 2rem;
    font-weight: 300;
    padding-top: 0.8rem;
}

.homeFindOutMoreBtn {
    cursor: pointer;
    margin-top: 2rem;
    height: auto;
    width: fit-content;
    max-width: 250px;
    background: -webkit-linear-gradient(0deg, transparent 50%, #61DAFB 50%);
    background-size: 800px 80px;
    border: 2.5px solid #61DAFB;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    position: relative;
}

.homeFindOutMoreBtn:hover {
    background-position: 300px 0;
    color: #20232A;
}

.homeFindOutMoreBtnText {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 3% 0px;
    margin: 0 25px 0 25px;
}

@media only screen and (max-width: 840px), 
screen and (max-height: 900px) {
    .name {
        font-size: 3.5rem;
    }

    .homeIntroContent {
        font-size: 1.5rem;
    }

    .homeFindOutMoreBtnText {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 450px),
screen and (max-height: 650px) {
    .helloIntro {
        font-size: 1.2rem;
    }
    .name {
        font-size: 2.2rem;
    }

    .homeIntroContent {
        font-size: 1rem;
    }

    .homeFindOutMoreBtnText {
        font-size: 1rem;
    }

    .homeFindOutMoreBtn {
        width: fit-content;
    }
}