#contactSec {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contactsTitle {
    font-size: 3rem;
    font-weight: 600;
    margin: 3rem 1rem 1.5rem 1rem;
    color: #61DAFB;
}

.contactDesc {
    font-size: 2rem;
    margin: 0 1rem;
}

.contactLinks {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactCard {
    background-color: #20232A;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    font-size: 1.2rem;  
}

.contactText {
    margin: 1rem 2rem 1rem 2rem;
    
}

.linkedinlink {
    color: #61DAFB;
    text-decoration: underline;
}

@media only screen and (max-width: 840px) {
    .contactsTitle {
        font-size: 2rem;
    }

    .contactDesc {
        font-size: 1.5rem;
    }
    
    .contactText {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .contactText {
        font-size: 0.8rem;
    }
}