#experiencesSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 0 1rem;
}

.experienceTitle {
    font-size: 3rem;
    font-weight: 600;
    margin: 8rem 0 1.5rem 0;
    color: #61DAFB;
}

.expCards {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expCard {
    width: 80%;
    background-color: #20232A;
    display: flex;
    margin: 1.5rem;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px #61DAFB);
}


.cardContent {
    margin: 5px 5% 5px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.companyIcon {
    width: 5rem;
    border-radius: 10px;
    object-fit: cover;
}

.astar {
    background-color: white;
    
}

.expDescSec {
    margin: 2rem;
}

.expTitle {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.expCompany, .expDates, .expDescription{
    margin-bottom: 10px;
    line-height: 25px;
}

.expSkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
}

.techStackIconExp, .techStackIconProj {
    height: 2rem;
    margin: 10px 10px 5px 10px;
}

.techStackIconExp:hover, .techStackIconProj:hover {
    filter: drop-shadow(0px 0px 10px #20232A);
}

.skillsIntro {
    font-weight: 600;
    color: #20232A;
    margin: 10px 0px 5px 15px;
}


@media only screen and (max-width: 1152px) {

    .cardContent {
        flex-direction: column;
        align-items: start;
    }
    
    .companyIcon {
        margin: 2rem 0 0 2rem
    }
  
}

@media only screen and (max-width: 840px),
screen and (max-height: 900px) {
    .expCard {
        width: 90%;
    }

    .experienceTitle {
        font-size: 2rem;
        margin-top: 8rem;
    }

    .techStackIconExp {
        height: 1.5rem;
        margin: 10px 10px 5px 10px;
    }

    .expTitle {
        font-size: 1.5rem;
    }

    .expCompany {
        font-size: 1.2rem;
    }

    .expDates, .expDescription {
        font-size: 1rem;
    }
  
}

@media only screen and (max-width: 450px),
screen and (max-height: 650px) {
    .experienceTitle {
        font-size: 1.8rem;
    }

    .cardContent {
        margin: 0;
    }

    .companyIcon {
        width: 4rem;
    }

    .techStackIconExp {
        height: 1.2rem;
    }

    .expTitle {
        font-size: 1.2rem;
    }

    .expCompany {
        font-size: 1rem;
    }

    .expDates, .expDescription {
        font-size: 0.9rem;
    }
}

/* @media only screen and (max-width: 345px) {
    .expSkills {
        display: none;
    }

} */